{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>News Add form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Create News with Dropzone</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-6 m-auto">
            <form method="post">
                <input type="hidden" name="image_data" value="{{ image_data }}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:"form-control" }}
                    </div>
                {% endfor %}
                <div class="dropzone dropzone-previews dz-clickable" id="my_dropzone">
                    <span class="dropzone-file-icon"></span>
                </div>

                <button type="submit" class="btn btn-primary">Add news</button>
            </form>
        </div>

    </div>
</div>

<script>
    Dropzone.options.my_dropzone = false;
    Dropzone.autoDiscover = false;
    Dropzone.options.my_dropzone = {
        paramName: "orginal", // The name that will be used to transfer the file
        maxFilesize: 50, // MB
        maxFiles: 25
    };
    $(document).ready(function () {
        $("#my_dropzone").dropzone({
            url: "{% url 'picture-add' %}",
            addRemoveLinks: true,
            sending: function (file, xhr, formData) {
                formData.append('image_data', '{{ image_data }}'); // send each image data
            },
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            success: function (file, response) {
                file.previewElement.classList.add("dz-success");

                if (response.uploaded) {
                    file.img_pk = response.pk;
                } else {
                    file.img_pk = 1;
                }
            },
            removedfile: function (file, serverFileName) {
                var file_pk = file.img_pk;
                console.log(file_pk);
                $.ajax({
                    url: "{% url 'picture-delete' %}",
                    type: "POST",
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    data: {'remove_object': file_pk, 'image_data': '{{ image_data }}'}
                });
                //console.log($(this).closest('.dz-preview'));
                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            },
            error: function (file, response) {
                file.previewElement.classList.add("dz-error");
                $(file.previewElement).find('.dz-error-message').text(response);
            }
        });
    });

</script>

</body>
</html>
